NODE_ENV=development
DATABASE=mongodb://<dbuser>:<dbpassword>@ds129484.mlab.com:29484/<dbname>
MAIL_USER=123
MAIL_PASS=123
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
POST=7777
MAP_KEY=123
SECRET=snickers
KEY=sweetsesh
